<div ng-click="accordionHeaderClicked()">
    <div class="accordion-header-content">
        <!-- Title -->
        <h3 id="{{id}}" class="show-for-medium-up">{{label}}</h3><h3 id="{{id}}" class="show-for-small-only">{{label.replace("Caribbean & ","")}}</h3>

        <!-- Expand/Collapse Icons -->
        <div class="accordion-expand-icon-container" ng-hide="label == 'Hot Locations'">
            <i class="fi-plus" ng-hide="isOpen"></i>
            <i class="fi-minus" ng-show="isOpen"></i>
        </div>

    </div>

    <div class="region-group-header-separator"></div>
</div>