<div ng-click="accordionHeaderClicked()">
    <div class="accordion-header-content">
        <!-- Title -->
        <h2 id="REGION_{{group}}">{{label}}</h2>

        <!-- Expand/Collapse Icons (COMMENTED OUT BECAUSE OTHER REGIONS ARE HIDDEN, SO NO NEED FOR CONTROLS) -->
        <!--div class="accordion-expand-icon-container">
            <i class="fi-plus" ng-hide="isOpen"></i>
            <i class="fi-minus" ng-show="isOpen"></i>
        </div-->

    </div>

    <div class="region-group-header-separator"></div>
</div>