<div id="{{hotelId}}" class="hotel-item-container">
    <a class="hotel-item-link" ng-href="{{hotel.AVAILABILITY_URL}}" ng-click="hotelItemSelected()">
        <div class="hotel-item-content">

            <!-- Hotel Image -->
            <img class="hotel-image" ng-src="{{hotel.IMAGE}}"/>

            <!-- Hotel Description -->
            <div class="hotel-item-description-container">
                <p class="hotel-item-name">{{hotel.HOTEL_NAME}}</p>

                <p class="hotel-item-per-night">{{hotel.PRICE_RANGE}} per night</p>

                <button class="{{getButtonClass()}}">Book Now</button>
            </div>

        </div>
    </a>

</div>