<div ng-click="termsAndConditionsHeaderClicked()">
    <div class="terms-and-conditions-header-content">
        <!-- Title -->
        <h4 id="REGION_t_and_d"><i class=fi-minus-circle></i> {{label}}</h4>

        <!-- Expand/Collapse Icons (COMMENTED OUT BECAUSE OTHER REGIONS ARE HIDDEN, SO NO NEED FOR CONTROLS) -->
        <!--div class="accordion-expand-icon-container">
            <i class="fi-plus" ng-hide="isOpen"></i>
            <i class="fi-minus" ng-show="isOpen"></i>
        </div-->

    </div>

    <div class="region-group-header-separator"></div>
</div>