<div>

    <!--<table>-->
        <!--<tr>-->
            <!--<th>HOTEL NAME</th>-->
            <!--<th>MARKET NAME</th>-->
            <!--<th>ADDRESS</th>-->
            <!--<th>AVAILABILITY</th>-->
        <!--</tr>-->

        <!--<tr ng-repeat="currentBreak in breaks">-->
            <!--<td>-->
                <!--<a ng-href="{{currentBreak.PROPERTY_PAGE_URL}}">{{currentBreak.HOTEL_NAME}}</a>-->
            <!--</td>-->
            <!--<td>{{currentBreak.MARKET_NAME}}</td>-->
            <!--<td>{{currentBreak.FULL_ADDRESS}}</td>-->
            <!--<td>-->
                <!--<a ng-href="{{currentBreak.AVAILABILITY_URL}}">Availability</a>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->

    <div class="search-container">

        <input class="search-input" ng-model="query" placeholder="Search City, State or Zip" />

        <div class="dropdown" ng-show="query">

            <ul class="list">
                <li ng-repeat="currentBreak in breaks | filter:{SEARCH_FIELD: query}">
                    <div class="break-item-wrapper">
                        <p>{{currentBreak.PROPERTY_CITY_STATE}}</p>

                        <a href="{{currentBreak.PROPERTY_PAGE_URL}}">
                            {{currentBreak.HOTEL_NAME}}
                        </a>
                    </div>
                </li>


            </ul>

        </div>


    </div>


</div>