.break-list-item-container {
    padding: 10px;
}

.break-list-item-city {
    margin: 0;
    font-size: 1.2rem;
}

.break-list-item-distance {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.break-list-item-per-night {
    position: absolute;
    right:10px;
    font-weight: bold;
}

.break-list-item-hotel {
    margin: 0;
}