.full-column {
    @include grid-column(12);
}

.hotel-grid {
    @include block-grid(1);

    @media screen and (min-width:300px) {
        @include block-grid(2);
        margin: 0 -.8rem;
    }

    /*@media #{$small-up} {*/
    @media screen and (min-width:550px) {
        @include block-grid(3);
        margin: 0 -.8rem;
    }

    /*@media #{$medium-up} {*/
    @media screen and (min-width:800px) {
        @include block-grid(4);

    }

    /*@media #{$large-up} {
        @include block-grid(4);
    }*/

}
.top-destination-accordion {
    .hotel-grid {
        @include block-grid(1);

        @media screen and (min-width:300px) {
            @include block-grid(2);
            margin: 0 -.1rem;
        }

        /*@media #{$small-up} {*/
        @media screen and (min-width:550px) {
            @include block-grid(3);
            margin: 0 -.1rem;
        }

        /*@media #{$medium-up} {*/
        @media screen and (min-width:800px) {
            @include block-grid(4);

        }

        /*@media #{$large-up} {
            @include block-grid(4);
        }*/

    }

}