#region-map {
    position: relative;
    opacity: 0.8;
    margin-top: 15px;
}

.region-view-icon-container {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 2rem;
    padding: 5px 20px;
    border-radius: 10px;

    a {
        opacity: 0.5;
        color: white;
        position: relative;
        z-index: 1;

        &:hover {
            opacity: 1.0;
            color: $region-header-color;
        }

        &.active {
            color: white;
            opacity: 1.0;
        }
    }

}

.region-icon-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: black;
    border-radius: 10px;
    z-index: 0;
}

// This is for content below the video. We need to set the background to white to cover up the video bleed caused
// by forced aspect ratio
#breaks-content {
    position: relative;
    background: white;
}

.search-input {
    font-size: 28px;
    border-radius: 8px;
    width: 100%;
    padding: 10px 15px;
}

.region-container {
    padding: 25px 15px;

    .button {
        width: 100%;
    }
}

// Overrides for dropdown and input styling
.search-container {
    .f-dropdown {
        width: 95%;
        max-width: none;
        opacity: 0.9;
    }

    input {
        font-size: 1.7rem;
        border-radius: 8px;
        height: auto;
    }
}

.section-separator {
    max-width: none;
    width: 100%;
    height: 3rem;
    margin: 10px 0;
    background-color: #DFDFDF;

    &.small {
        height: 1rem;
        margin-bottom: 20px;
    }
}

.region-group-accordion {

    // Override default background and padding
    .accordion dd > a {
        background: none;
        padding: 0;
        margin: 0;

        &:hover {
            background-color: #EDEDEE;
        }
    }

    .region-group {
        @include grid-row();

        dd > a {
            background: none;
            padding: 0;
            margin: 0;

            &:hover {
                background-color: #EDEDEE;
            }
        }

        h2 {
            text-align: center;
            color: $region-header-color;
            padding: 10px 0;
            margin: 0;
        }

        h3 {
            margin-bottom: 20px;
            text-align: center;
        }

        .region-group-header-separator {
            margin: 0;
            height: 2px;
            background-color: #DFDFDF;
        }
    }
}

.top-destination-button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $top-destination-button-color;
    display: table;
    border-radius: 7px;

    &:hover, &:focus, &:active {
        background-color: $top-destination-button-color-selected;
    }

    &.selected {
        background-color: $top-destination-button-color-selected;
        box-shadow: 0 0 2px 4px $top-destination-button-color-selected;
    }

    p {
        font-size: 1.2rem;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.top-destination-book-now-button {
    @extend .hotel-item-book-now;

    background-color: $top-destination-button-color !important;

    &:hover, &:focus, &:active {
        background-color: $top-destination-button-color-selected !important;
    }
}

.hotel-item-description-container {
    position: relative;
    height: 140px;
    background-color: #EDEDEE;
    padding: 10px;
}

.hotel-item-name {
    font-weight: bold;
    line-height: 1.2rem;
    margin-bottom: 10px;
}

.hotel-item-per-night {
    line-height: 0.5rem;
}

.hotel-item-book-now {
    @include button;

    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    padding: 10px;
    margin-bottom: 0;
}