.search-input {
    font-size: 28px;
    border-radius: 8px;
    width: 100%;
    padding: 10px 15px;
}

.search-container {
    .f-dropdown {
        width: 95%;
        max-width: none;
        opacity: 0.9;
    }
}

.break-list-item-city {
    margin: 0;
    font-size: 1.2rem;
}

.break-list-item-hotel {
    margin: 0;
}