.hotel-item {
    position: relative;

    width: 100%;
    height: auto;
}

.hotel-item-container {
    position: relative;

    width: 100%;
    /*height: 100%;*/

    &:hover {
        box-shadow: 0 0 4px 1px #777777;
    }
}

.hotel-item-link {
    position: relative;
    display: block;

    width: 100%;
    height: 100%;

}

.hotel-item-content {
    position: relative;

    width: 100%;
    height: auto;

    margin-top: auto;
    bottom: 0;
    .hotel-image-container {
        /*background: transparent url(http://davidrhysthomas.co.uk/linked/astrid_avatar.png) 50% 50% no-repeat;
        min-width: 300px;
        min-height: 300px;*/
        box-shadow: inset 0 0 25px #EDEDEE, inset 0 0 25px #EDEDEE, inset 0 0 25px #EDEDEE;
        text-align: center;
    }
}

.hotel-image {
    /*position: relative;*/
    /*display: block;*/
    margin: 18.5px auto 18.5px auto; //11.5px 18.5px 11.5px 18.5px;
    /*width: 100%;
    height: auto;
    max-height: 275px;*/
    height: 190px;

}

.hotel-item-description-container {
    position: relative;

    width: 100%;
    height: auto;
    background-color: #EDEDEE;
    padding: 0 7px 7px 7px;

    p {
        color: black;

    }
}

.hotel-item-name {
    font-weight: bold;
    line-height: 1.2rem;
    margin-bottom: 10px;
    font-size: .8rem;
    min-height: 3.9rem;
}

.hotel-item-per-night {
    line-height: 0.5rem;
    margin-bottom: .6rem;
        strong {
        font-size: 1.3rem;
    }
    small {
        font-size: 80%;
    }
}

.hotel-item-original-per-night {
    line-height: 0.5rem;
    font-size: 70%;
    text-decoration: line-through;
}

.hotel-item-book-now {
    @include button;

    position: relative;
    width: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
}

.top-destination-book-now-button {
    @extend .hotel-item-book-now;

    background-color: $top-destination-button-color !important;

    &:hover, &:focus, &:active {
        background-color: $top-destination-button-color-selected !important;
    }
}

.hotel-item-schema-data {
    display: none;
}