.terms-and-conditions-header-content {
    position: relative;
    margin-top: 1rem;

    .t_and_c_label {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 105%;
    }

    .accordion-expand-icon-container {
        position: absolute;
        border-radius: 50%;

        width: 24px;
        height: 24px;
        line-height: 24px;
        padding-left: .5px;
        padding-bottom: 1px;

        left: 21px;
        top: 0;
        bottom: 0;
        margin: auto 0;

        background-color: black;

        i {
            display: block;
            font-size: .9rem;
            color: white;

            text-align: center;
        }
    }

}