.terms-and-conditions-header-content {
    position: relative;
    margin-top: 1rem;

    .t_and_c_label {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 105%;
        color: #A9A9A9;
        font-weight: normal;
    }

    .accordion-expand-icon-container {
        h4{
            color: #A9A9A9;
            font-weight: normal;
        }
        position: absolute;
        border-radius: 50%;

        width: 25px;
        height: 25px;
        line-height: 25px;
        padding-left: 1px;
        padding-bottom: 1.5px;

        left: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;

        background-color: white;
        border: 1px solid #A9A9A9;

        /*i {
            display: block;
            font-size: .9rem;
            color: white;

            text-align: center;
        }*/
        i {
            display: block;
            font-size: 1.2rem;
            color: white;

            text-align: center;
        }
        .fi-plus:before {
            color: #A9A9A9;
            content: "\f199";
        }
        .fi-minus:before {
            color: #A9A9A9;
            content: "\f176";
        }
    }

}