$region-header-color: #a5ce4c;
$top-destination-button-color: #9f2b00;
$top-destination-button-color_0: #f27405;
$top-destination-button-color_1: #fe970e;
$top-destination-button-color_2: #feb32d;
$top-destination-button-color_3: #fccc3b;
$top-destination-button-color_4: #d04602;
$top-destination-button-color_5: #d04602;
$top-destination-button-color_6: #feb32d;
$top-destination-button-color_7: #fe970e;
$top-destination-button-color_8: #f27405;
$top-destination-button-color-selected: #e93c00;