$region-header-color: #458EBC;
$top-destination-button-color: #9f2b00;
$top-destination-button-color_0: #f27405;
$top-destination-button-color_1: #fe970e;
$top-destination-button-color_2: #fdb32c;
$top-destination-button-color_3: #fccc3a;
$top-destination-button-color_4: #d14601;
$top-destination-button-color_5: #d14601;
$top-destination-button-color-selected: #e93c00;