// In order to control the SVG data via CSS, it needs to be included in the SVG itself. Keep this file
// separate, don't import in the master app.scss file
@import "variables";

.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:2.0;
}

.land:hover {
    fill: $region-header-color;
    cursor: pointer;
}

.land-text {
    font-weight: bold;
}

.land:hover + .land-text {
    fill: white;
}