.container {
    padding: 15px;
}

.search-container {
    position: relative;
    margin: auto;
    width: 30%;
}

.search-input {
    font-size: 28px;
    width: 100%;
    margin: auto;
}

.dropdown {
    margin-top: 5px;
    border: 1px solid #595959;
    border-radius: 5px;
    width: 100%;
}

.dropdown .list {
    max-height: 350px;
    overflow: auto;
    list-style-type: none;
    padding: 5px 0;
    margin: 0;
}

.list > li {
    padding: 0;
    margin: 0;
    height: 50px;
}

.list > li:nth-child(odd) {
    background-color: #8cc8f9;
}

.break-item-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    top: 7px;
    left: 7px;
}

.break-item-wrapper > p {
    margin: 0;
}