<!-- Marriott Header -->
<div id="header-container">
    <a href="http://www.marriott.com/default.mi" class="l-main-logo">
        <img src="http://cache.marriott.com/Images/DigitalFoundations/Header/logo-marriott-markonleft-2x.png" alt="Marriott Logo">
    </a>
    <a href="http://www.marriott.com/default.mi" id="marriott-link">Back to Marriott.com</a>
</div>

<div>

    <!-- Region/State Map -->
    <div id="background-video">

        <!-- Region View Buttons -->
        <div class="region-view-icon-container" ng-if="showRegionOptions">

            <!-- Map View Button -->
            <a href="" ng-click="selectRegionView(REGION_VIEWS.MAP)" ng-class="{'active': isRegionViewActive(REGION_VIEWS.MAP)}">
                <i class="fi-marker"></i>
            </a>

            <!-- List View Button -->
            <a href="" ng-click="selectRegionView(REGION_VIEWS.LIST)" ng-class="{'active': isRegionViewActive(REGION_VIEWS.LIST)}">
                <i class="fi-thumbnails"></i>
            </a>

            <div class="region-icon-background"></div>

        </div>

        <!-- Countdown Bell -->
        <div class="countdown-bell-container show-for-medium-up">

            <!-- Map View Button -->
            <img src="assets/images/countdown_bell.png">
            <p>{{offerDaysLeft}}</p>

        </div>

        <!-- MAP / REGION BUTTONS -->
        <div class="row" id="map-absolute">

            <!-- MAP VIEW -->
            <div class="full-column" ng-if="!isMobile" ng-show="isRegionViewActive(REGION_VIEWS.MAP)">

                <!-- Map Directive -->
                <div id="region-map" map state-click-action="stateButtonClick(state)" regions="regions"></div>

            </div>

            <!-- REGION BUTTON VIEW -->
            <!-- Region Buttons -->
            <div class="small-10 small-offset-1 medium-8 medium-offset-2 column region-container" ng-show="isRegionViewActive(REGION_VIEWS.LIST)">

                <div class="row">

                    <div class="small-6 column">
                        <a region-button region="Northwest" action="regionButtonClick(region)"></a>
                    </div>

                    <div class="small-6 column">
                        <a region-button region="Northeast" action="regionButtonClick(region)"></a>
                    </div>

                </div>

                <div class="row">

                    <div class="small-6 column">
                        <a region-button region="Midwest" action="regionButtonClick(region)"></a>
                    </div>

                    <div class="small-6 column">
                        <a region-button region="Canada" action="regionButtonClick(region)"></a>
                    </div>

                </div>

                <div class="row">

                    <div class="small-6 column">
                        <a region-button region="Southwest" action="regionButtonClick(region)"></a>
                    </div>

                    <div class="small-6 column">
                        <a region-button region="Southeast" action="regionButtonClick(region)"></a>
                    </div>

                </div>

                <div class="row">

                    <div class="small-6 large-offset-3 column">
                        <a region-button region="Other" action="regionButtonClick(region)"></a>
                    </div>

                </div>

            </div>

        </div>

        <!-- Search Box & Dropdown Row -->
        <div class="row">
            <div id="ebreaks-head" class="column">
                <h1 id="ebreaks-head1">eBreaks<sup>&reg;</sup></h1>
                <h3 id="ebreaks-head2">Save 20% on great locations accross North America.</h3>
            </div>
            <div class="small-10 small-offset-1 medium-8 medium-offset-2 column search-container">
                <!-- Search Box & Dropdown -->
                <input type="text" ng-model="selectedBreak" placeholder="{{searchPlaceholder}}"
                       ng-disabled="disableSearch"
                       typeahead="break as break.HOTEL_NAME for break in getBreaksForInput($viewValue) | breaksSearchFilter:$viewValue:10:50"
                       typeahead-template-url="html/templates/breakListItem.html"
                       typeahead-on-select="inputItemSelected($model)"
                       typeahead-loading="loadingBreaksForInput"
                       typeahead-auto-open ng-change="inputChanged()"
                       class="form-control">
                <div id="button-holder">
                    <img src="assets/images/magnifying_glass.png">
                </div>
            </div>
        </div>

    </div>

    <div class="subscribe-bar show-for-medium-up">
        <div class="subscribe-content">
            <div class="never-miss">
                <i class="fi-mail"></i>Never Miss eBreaks
            </div>
            <div class="subscribe-button">
                <a>Subscribe Today</a>
            </div>
        </div>
    </div>
    <div class="subscribe-bar show-for-small-only">
        <div class="subscribe-content">
            <div class="never-miss">
                <i class="fi-mail"></i>Get eBreaks
            </div>
            <div class="subscribe-button">
                <a>Subscribe</a>
            </div>
        </div>
    </div>
    <div class="ways-to-book-bar show-for-medium-up">
        <div class="ways-to-book-content">
            <div class="ways-content">
                <i class="fi-monitor"></i>
                <div class="ways-text">
                    <div class="big-text">
                        3 Easy Ways to Book
                    </div>
                    <span class="small-text">Click on a property below to make your reservation.<br>Enter MEB in the corporate/promotional box at Marriott.com<br>Call 1.800.752.7571 or contact your <a href="http://www.marriott.com/help/global-phone-reservation-numbers.mi">worldwide reservation center</a>.</span>
                </div>
            </div>
            <div class="phone-icon">
                <i class="fi-telephone"></i>
            </div>
        </div>
    </div>
    <div class="ways-to-book-bar show-for-small-only">
        <div class="ways-to-book-content">
            <div class="ways-text">
                <div class="big-text">3 Ways to Book</div>
                <span class="small-text">Click on a Hotel<br>Use Code MEB<br>Call 1.800.752.7571</span>
            </div>
        </div>
    </div>

    <div id="breaks-content">

        <!-- Section Separator -->
        <!--div class="section-separator no-margin"></div-->

        <!-- REGION / TOP DESTINATIONS ACCORDION -->
        <accordion class="region-group-accordion">

            <!-- TOP DESTINATIONS -->
            <accordion-group class="region-group" is-open="true"> <!-- To collapse when regions are clicked, replace true with regionAccordionGroups['TOPDEST'].isOpen -->
                <!-- Top Destinations Group Header -->
                <accordion-heading>
                    <div accordion-header-content group="'TOPDEST'" label="'Hot Locations'" is-open="regionAccordionGroups['TOPDEST'].isOpen"></div>
                </accordion-heading>

                <!-- Top Destination Buttons -->
                <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5 text-center the-grid" vertilize-container>
                    <li ng-repeat="topDestination in topDestinations" vertilize>
                        <a class="large button {{'top-destination-button_'+($index<5?$index:($index<10?$index-5:($index<15?$index-10:'0')))}}" href="" ng-class="{'selected': selectedTopDestination === topDestination}" 
                           ng-click="toggleTopDestination(topDestination)"><p>{{topDestination}}</p></a>
                    </li>
                </ul>

                <!-- Top Destination Hotel List -->
                <div ng-show="(selectedTopDestination)">
                    <div class="section-separator small"></div>

                    <ul class="hotel-grid" hotel-item-container is-open="regionAccordionGroups['TOPDEST'].isOpen">
                        <li hotel-item hotel="break" top-destination="true"
                            ng-repeat="break in breaks | filter:{MARKET_CITY: selectedTopDestination} | limitTo:20"></li>
                    </ul>
                </div>

            </accordion-group>
        </accordion>

            <div class="your-ebreaks-bar show-for-medium-up" ng-show="aRegionIsExpanded">
                <div class="ways-to-book-content">
                    <div class="ways-content">
                        <div class="ways-text">
                            <h2>Your eBreaks for {{StartDateRange}}&ndash;{{EndDateRange}}</h2>
                        </div>
                    </div>
                    <div class="phone-icon">
                    </div>
                </div>
            </div>
            <div class="your-ebreaks-bar show-for-small-only" ng-show="aRegionIsExpanded">
                <div class="ways-to-book-content">
                    <div class="ways-text">
                        <h2>eBreaks {{StartDateRange}}&ndash;{{EndDateRange}}</h2>
                    </div>
                </div>
            </div>

        <accordion class="region-group-accordion" close-others="true">
            <!-- REGION GROUPS -->
            <accordion-group class="region-group" is-open="regionAccordionGroups[region].isOpen"
                             ng-repeat="(region, regionGroup) in breaks | groupBy: 'REGION'">
                <!-- Region Group Header -->
                <accordion-heading>
                    <div accordion-header-content group="region" label="formatRegionName(region)" is-open="regionAccordionGroups[region].isOpen" ng-show="regionAccordionGroups[region].isOpen"></div>
                </accordion-heading>

                <!-- Group by State -->
                <div class="row ng-hide" ng-hide="regionAccordionGroups[state].isHidden" ng-repeat="(state, hotels) in regionGroup | groupBy: 'PROPERTY_STATE'">

                    <div class="full-column">

                        <!-- State Group Header -->
                        <h3 id="STATE_{{state}}">{{statesService.getStateName(state)}}</h3>

                        <!-- Hotel List -->
                        <ul class="hotel-grid" hotel-item-container is-open="regionAccordionGroups[region].isOpen">

                            <!-- Hotel Items -->
                            <li hotel-item hotel="hotel" top-destination="false"
                                ng-repeat="hotel in hotels | orderBy:'-TOP_DESTINATION'"></li>

                        </ul>

                    </div>
                </div>

            </accordion-group>
        </accordion>

    </div>

    <!-- Terms & Conditions -->
    <accordion class="terms-and-conditions-group-accordion">

            <!-- TOP DESTINATIONS -->
        <accordion-group class="terms-and-conditions-group" is-open="true"> <!-- To collapse when regions are clicked, replace true with regionAccordionGroups['TOPDEST'].isOpen -->
                <!-- Top Destinations Group Header -->
                <accordion-heading>
                    <div terms-and-conditions-header-content group="t_and_d" label="'Terms &amp; Conditions'" is-open="true"></div>
                </accordion-heading>

                <ul id="term_and_cond_list">
                    <li>Rates are per night. Thursday requires a Friday night stay. Sunday requires a Saturday night stay.</li>
                    <li>Rates are valid for dates specified in email at advertised hotels only.</li>
                    <li>eBreaks rates are exclusive to customers who subscribe to the eBreaks program. Therefore, these rates do not qualify for Marriott's Look No Further<sup>&reg;</sup> Best Rate Guarentee.</li>
                    <li>A limited number of rooms are available and will be sold on a first-come, first-served basis.</li>
                    <li>Advance bookings are required and must be guarenteed with a credit card.</li>
                    <li>Rates are offered Thursday through Sunday.  Some hotels only offer eBreaks rates Friday-Sunday.  These hotels are indicated with an asterisk (*) next to the rate.</li>
                    <li>Rates are for standard rooms, per night and based on single or double occupancy.</li>
                    <li>Rates are non-commissionable and do not include taxes, fees, other costs or gratuities.</li>
                    <li>Rates cannot be used in conjunction with other offers and/or discounts.</li>
                    <li>eBreaks does not apply to groups of 10 or more rooms.</li>
                    <li>Canadian cities are quoted in Canadian dollars and U.S. cities are quoted in U.S. dollars. All other destinations are quoted in currency listed.</li>
                    <li>Rates are eligible for Marriott Rewards&reg; Points and miles credit. <a href="https://www.marriott.com/rewards/createAccount/createAccountPage1.mi?segmentId=elite.nonrewards">Join Marriott Rewards</a></li>
                </ul>

            </accordion-group>
        </accordion>

    </div>
</div>

<!-- Marriott Footer -->
<footer class="l-clear">
        <div id="footer" class="l-em-reset clearfix">
            <div class="ie-footer-fix">                    
                <div id="t-legal-footer" class="t-footer-section-spacing clearfix">
                        <section class="t-legal-utility-links l-float-left t-uppercase-small">
<ul id="utilities-legal">
    
    
        <li>
                            <a href="/marriott/aboutmarriott.mi" title="" class="analytics-click">
                                About Marriott
                            </a>
        </li>
        <li>            
                            <a href="/help/default.mi" title="" class="analytics-click">
                                Help
                            </a>
        </li>
        <li>
                            <a href="http://www.roomkey.com/" title="" class="analytics-click" rel="external">
                                RoomKey
                            <img class="external-link" src="http://cache.marriott.com/Images/Arrows/icon_newwindow_9x8.gif"></a>
        </li>
        <li>
                            <a href="http://www.marriottvacationclub.com?loc=DB59*1-43X1H6&amp;cid=corp-mvc-mi-global-footer" title="" class="analytics-click">
                                Marriott Timeshare
                            </a>
        </li>
        <li>
                            <a href="/about/terms-of-use.mi" title="" class="analytics-click">
                                Terms of Use
                            </a>
        </li>
        <li>
                            <a href="/about/privacy.mi" title="" class="analytics-click">
                                Privacy &amp; Cookie Statement
                            </a>        
            </li>
            <li id="marriottConsent" consent="null">

                <script type="text/javascript" src="//consent.truste.com/notice?domain=marriott.com&amp;c=marriottConsent&amp;text=true&amp;js=0_v3" id="truste_0.30882344441488385"></script><script async="async" type="text/javascript" crossorigin="" src="http://consent.truste.com/get?name=notice.js"></script>
            <a id="icon-id01810308585409075" tabindex="0" role="button" style="cursor: pointer;">Tracking Preferences</a></li>
</ul>
                        </section>

                        <section class="t-copyright l-clear" itemscope="" itemtype="http://schema.org/Hotel">
                            <p class="t-uppercase-small " id="copyright">&copy; 1996 - 2015 <span itemprop="branchOf" itemscope="" itemtype="http://schema.org/Corporation"><span itemprop="name">Marriott International, Inc.</span></span> All rights reserved. Marriott proprietary information</p>
                        </section>
                </div>
            </div>
        </div>
    </footer>