<div>

    <div class="row">
        <!-- Region Buttons -->
        <div class="small-10 small-offset-1 large-6 large-offset-3 column region-container">

            <div class="row">

                <div class="small-6 column">
                    <a class="large button" href="#REGION_NORTHWEST" du-smooth-scroll>Northwest</a>
                </div>

                <div class="small-6 column">
                    <a class="large button" href="#REGION_NORTHEAST" du-smooth-scroll>Northeast</a>
                </div>


            </div>

            <div class="row">

                <div class="small-6 column">
                    <a class="large button" href="#REGION_MIDWEST" du-smooth-scroll>Midwest</a>
                </div>

                <div class="small-6 column">
                    <a class="large button" href="#REGION_CANADA" du-smooth-scroll>Canada</a>
                </div>

            </div>

            <div class="row">

                <div class="small-6 column">
                    <a class="large button" href="#REGION_SOUTHWEST" du-smooth-scroll>Southwest</a>
                </div>

                <div class="small-6 column">
                    <a class="large button" href="#REGION_SOUTHEAST" du-smooth-scroll>Southeast</a>
                </div>

            </div>

            <div class="row">

                <div class="small-6 large-offset-3 column">
                    <a class="large button" href="#REGION_OTHER" du-smooth-scroll>Other</a>
                </div>

            </div>

        </div>
    </div>

    <!-- Search Box & Dropdown Row -->
    <div class="row">
        <div class="small-10 small-offset-1 large-6 large-offset-3 column search-container">

            <!-- Search Box & Dropdown -->
            <input type="text" ng-model="customSelected" placeholder="Search City, State or Zip"
                   typeahead="break as break.HOTEL_NAME for break in breaks | filter:{SEARCH_FIELD: $viewValue} | limitTo:10"
                   typeahead-template-url="html/templates/breakListItem.html"
                   class="form-control">

        </div>
    </div>

    <!-- Section Separator -->
    <div class="section-separator"></div>

    <!-- Top Destinations - Header -->

    <div class="row">
        <div class="full-column">
            <h2 class="top-destinations-header">Top Destinations</h2>

            <div class="region-group-header-separator"></div>
        </div>
    </div>

    <!-- Top Destinations - List -->

    <div class="row">

        <div class="full-column">

            <ul class="hotel-grid">

                <!-- Hotel Items -->
                <li hotel-item hotel="break" ng-repeat="break in breaks | filter:{TOP_DESTINATION: true} | limitTo:20"></li>

            </ul>

        </div>

    </div>

    <!-- Section Separator -->
    <div class="section-separator"></div>

    <!-- Group by State -->
    <div class="row" ng-repeat="(state, hotels) in regionGroup | groupBy: 'MARKET_STATE'">

        <div class="full-column">

            <!-- State Group Header -->
            <h3>{{state}}</h3>

            <!-- Hotel List -->
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

                <!-- Hotel Item -->
                <li ng-repeat="hotel in hotels">

                    <!-- Hotel Image -->
                    <img src="images/hotel.png"/>

                    <!-- Hotel Description -->
                    <div class="hotel-item-description-container">
                        <p class="hotel-item-name">{{hotel.HOTEL_NAME}}</p>

                        <p class="hotel-item-per-night">{{hotel.PRICE_RANGE}} per night</p>

                        <a ng-href="{{hotel.AVAILABILITY_URL}}" class="hotel-item-book-now">Book Now</a>
                    </div>

                </li>

            </ul>

        </div>
    </div>

    <!-- Group by Region-->
    <div class="row region-group" ng-repeat="(region, regionGroup) in breaks | groupBy: 'REGION'">

        <div class="full-column">

            <!-- Region Header -->
            <h2 id="REGION_{{region}}">{{formatRegionName(region)}}</h2>

            <div class="region-group-header-separator"></div>

            <!-- Group by State -->
            <div class="row" ng-repeat="(state, hotels) in regionGroup | groupBy: 'MARKET_STATE'">

                <div class="full-column">

                    <!-- State Group Header -->
                    <h3>{{state}}</h3>

                    <!-- Hotel List -->
                    <ul class="hotel-grid">

                        <!-- Hotel Items -->
                        <li hotel-item hotel="hotel" ng-repeat="hotel in hotels"></li>

                    </ul>

                </div>
            </div>

        </div>
    </div>

</div>